.search_screen {
    // background-color: lightgreen;
    width: calc(100vw - 35vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    @media only screen and (max-width: 500px) {
        width: 100vw;
    }

    h3 {
        margin-bottom: 20px;
    }
    
    form {
        height: 30px;
        outline: none;
        border: 1px solid black;

        input{
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0 8px;
            font-size: 13px;
            color: white;

            &::placeholder {
                color: white;
            }

            &:focus {
                background-color: #2b2525be;
            }
        }
        button {
            height: 100%;
            margin: 0;
            border-radius: 0;
            background-color: black;
            color: white;
            outline: none;
            border: none;
            padding: 0 8px;
        }
    }

    .current_weather {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 250px;
        width: 400px;

        &_box {
            width: 300px;
            height: 200px;

            button {
                margin-top: 10px;
                margin-right: 10px;
            }
        }
    }
}